.twitter-typeahead {
    width: 100%;
    text-align: left; /* Align the input and suggestions container to the left */
    }

/* Hide the hint text by setting its color to match the background color */
input[type=search].tt-hint {
    height: 40px;
    color: transparent; /* Make the text color transparent */
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}

/* Adjusted styles for product suggestions on desktop */
@media (min-width: 768px) {
    .tt-dataset-products a {
        text-align: left; /* Align the text to the left */
    }

    .tt-dropdown-menu {
        margin-top: 15px;
        text-align: left; /* Align the dropdown menu to the left */
        width: 100%; 
    }

    .tt-menu {
        width: 100%; /* Adjusted used 100% so it will fit search box on top either on desktop or mobile devices */
        z-index: 10000 !important; /* Adjusted z-index to higher priority so dropdown box stays over Ultimo's main menu instead of behind it */
    }


.tt-dataset-products .empty {
    padding: 4px;
}

.tt-dataset-products {
    border: 1px solid #bcbcbc;
    background: #fff;
    border-radius: 2px;
}

.tt-dataset-products:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #bcbcbc;
    border-top: none;
    left: 50%;
    top: -7px;
    margin-left: -7px;
}

.tt-dataset-products a {
    padding: 6px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4;
}

.tt-dataset-products .tt-suggestion:last-child a {
    border-bottom: 0;
}

.tt-dataset-products a:hover,
.tt-dataset-products a:hover .price-box .price,
.tt-suggestion.tt-cursor a,
.tt-suggestion.tt-cursor a .price-box .price-label,
.tt-suggestion.tt-cursor a .price-box .price {
    color: #fff;
    background-color: #eeeeee;
    text-decoration: none;
}

.tt-dataset-products a:hover .price-box .old-price .price,
.tt-suggestion.tt-cursor a .price-box .old-price .price {
    text-decoration: line-through;
}

.tt-dataset-products a .image {
    float: left;
}

.tt-dataset-products a .image img {
    width: 50px;
}

.tt-dataset-products a .info {
    margin-left: 56px;
}

.tt-dataset-products a .price-box {
    margin: 0;
}

.tt-dataset-products a .clearer {
    clear: both;
}
